<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>REGISTER</h3>
<form action="/user/register" method="post">
    <input type="text" name="name" placeholder="pleas input name"/><br>
    <input type="text" name="surname" placeholder="pleas input surname" />
    <input type="email" name="email" placeholder="pleas input email" />
    <input type="password" name="password" placeholder="pleas input password" />

    <input type="submit" value="Register">


</form>
</body>
</html>